/*
 * ----------------------------------------------------------------------------------------
 * Footer styles.
 * ----------------------------------------------------------------------------------------
 */
 
// These are the footer styles
 footer {
 	background-color: $bg-white;
 	margin-top: 0;
 	position: relative;
 	overflow: hidden;
 	clear: both;
 	.footermargin {
 		margin-bottom: 20px;
 	}
 }