/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */
 

  // sidebar-content layout
 /*  ----------------------------------------------------*/
 $sidebar-width: 372px;
 $site-border-color: #ddd; 
// body {
// 	background: #263442;
// }


.page-wraper {
	padding-left: $sidebar-width; 
	@include clearfix;
	@include breakpoint ($xs) {
		padding-left: 0; 
	}

	&.full-page {
		padding-left: 0;
	}

}	

.page-sidebar{
	margin-left: -$sidebar-width; 
	width: $sidebar-width; 
	float: left;
	padding:40px 30px; 
	

	@include breakpoint ($xs) {
		width: 100%;
		margin-left: 0;
	}
}

.page-content-outer {
	width: 100%;
	float: right; 
}

.page-content {
	padding: 40px 30px; 
	@include clearfix; 
	
}

// End Layout

.page-sidebar-inner {
	background: #fff;
	border: 1px solid $site-border-color; 
	border-radius: 6px;
	
}

.page-content-inner {
	background: #fff;  
	border: 1px solid $site-border-color; 
	border-radius: 6px; 
	padding: 30px; 
	h3 {margin: 0; font-size: 24px; }
}


//sidebar-content-sidebar 

.sidebar-content-sidebar {
	
	$sidebar-width-left: 372px;
	$sidebar-width-right: 372px;
	$site-border-color: #ddd; 

	padding-left: $sidebar-width-left; 
	padding-right: $sidebar-width-right; 
	@include clearfix;
	@include breakpoint ($xs) {
		padding-left: 0; 
		padding-right: 0; 
	}


	.page-sidebar-left{
		margin-left: -$sidebar-width-left; 
		width: $sidebar-width-left; 
		float: left;
		padding:40px 30px; 
		

		@include breakpoint ($xs) {
			width: 100%;
			margin-left: 0; 
			padding:10px 30px; 
		}
	}

	.page-sidebar-right{
		margin-right: -$sidebar-width-right; 
		width: $sidebar-width-right; 
		float: left;
		padding:40px 30px; 
		

		@include breakpoint ($xs) {
			width: 100%;
			margin-right: 0;
			padding:10px 30px; 
		}
	}


	.page-content-outer {
		width: 100%;
		float: left; 
	}

	.page-content {
		padding: 40px 30px; 
		@include clearfix; 
		
	}

	

} //sidebar-content-sidebar // End Layout
a {text-decoration: none;}

// Animation for mouse starts
@-webkit-keyframes wheel {
	0% {top: 0px; opacity: 0.1}
	25% {top: 8px; opacity: 0.5}
	50% {top: 16px; opacity: 1}
	75% {top: 24px; opacity: 0.5}
	100% {top: 30px; opacity: 0.1}
}

@keyframes wheel {
	0% {top: 0px; opacity: 0.1}
	25% {top: 8px; opacity: 0.5}
	50% {top: 16px; opacity: 1}
	75% {top: 24px; opacity: 0.5}
	100% {top: 30px; opacity: 0.1}
}
// Animation for mouse ends

// blue background color for border-style: 
.bodybgcolor {
	background-color: $colorsea;
}

// If the navbar is not scrolled then height is big
.nonscrollnavbar {
	background-color: transparent;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	height: 50px !important;
	@include breakpoint(768px){
		height: 80px;
	}
	.navbar-header .navbar-brand img {
		max-height: 50px;
		max-width: 150px;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	}
	.navbar-nav li a {
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		line-height: 20px;
		@include breakpoint(768px){
			line-height: 80px;
		}
	}
}

// if navbar is scrolled then height is low
.scrollednavbar {
	background-color: $bg-black;
	height: 60px !important;
	min-height: 60px;
	max-height: 60px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	.navbar-header .navbar-brand img {
		max-height: 30px;
		max-width: 100px;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	}
	.navbar-nav li a {
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		line-height: 20px;
	}
}

// big cover photo and text on it
.bgcover {
	background-image: url("../images/cover1.jpg");
	background-size: cover;
	min-height: 100vh;
	width: 100%;	
	background-attachment: fixed;
	position: relative;
	padding-top: 25%;
	@include breakpoint(768px){
		padding-top: 15%;
	}
	.hero-text {
		position: relative;
		text-align: center;
		color: $textwhite;
		.hero-work {
			font-size: 12px;
			font-weight: 300;
			letter-spacing: 2px;
			margin-bottom: 0;
			text-transform: uppercase;		
			&::after {
				background-color: transparent;
				border-color: rgba(255, 255, 255, 0.3);
				border-style: solid;
				border-width: 1px 0;
				content: "";
				display: block;
				height: 4px;
				margin: 20px auto 0;
				width: 200px;
			}
		}
		.hero-title {
			font-size: 56px;
			font-weight: 900;
			letter-spacing: 8px;
			line-height: 85px;
			margin-bottom: 15px;
			margin-top: 5px;
			padding: 20px 10px;
			text-transform: uppercase;
			color: $textwhite;
			@include breakpoint(max-width 480px){
				font-size: 40px;
			}
		}
	}
	.coverbottombg {
		bottom: 0;
		position: absolute;
		width: 100%;
	}
}

// this is mouse and its wheel
.mouse-icon-wrap {
	position: absolute;
	bottom: 5px;
	@include breakpoint(768px){
		bottom: 40px;
	}
	margin-left: 49%;
	.mouse {
		margin: 0 auto;
		bottom: 40px;
		border: 2px solid #fff;
		border-radius: 16px;
		height: 40px;
		width: 24px;
		display: block;
		z-index: 10;
		opacity: 0.7;
		.mousewheel {
			background: $bg-white;
			border-radius: 10px;
			position: relative;
			width: 2px;
			height: 6px;
			top: 5px;
			margin-left: auto;
			margin-right: auto;
			-webkit-animation-name: wheel;
			animation-name: wheel;
			animation-duration: 1s;
			-webkit-animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
		}
	}
}

// this is the about area with image
.aboutarea {
	padding: 55px 25px 20px;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	background-color: #ffffff;
	color: #555;
	.block-heading {
		margin-top: 0px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-weight: 300;		
	}
	p {
		margin-bottom: 26px;
	}
	ul li {
		list-style-type: square;
		padding: 0 0 10px 10px;
		line-height: 22px;
	}
}

// these wrappers give space 
.empty-wrapper-140 {
	height: 140px;
	background-color: $colorsea;
}
.empty-wrapper-70 {
	height: 70px;
	background-color: $colorsea;
}
.empty-wrapper-40 {
	height: 40px;
	background-color: $colorsea;
}

// required documents area
.required-docs-area {
	background-color: rgb(0, 0, 0);
	background-image: url(http://intel.ustechjob.com/wp-content/uploads/2015/11/c2a.png);
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: 50% 0px;
	background-size: cover;
	padding: 100px 0px;
	display: block;
	color: $textwhite;
	h1 {
		font-weight: 300;
		font-size: 28px;
		font-style: normal;
	}
	.seperator {
		width: 100%;
		margin-bottom: 10px;
		height: 20px;
		.nexus-sep-line {
			margin: 0 auto;
			width: 80px;
			border-top: 1px solid $bg-green;
		}    	
	}
	p {
		margin-bottom: 50px;
	}
	a.btn-green-bg {
		margin-bottom: 20px;
	}
}

// section started heading and button
.section {
	background-color: $colorsea;
	text-align: center;
	.section-pretitle {
		border-radius: 30px;
		background: $bg-green;
		color: $textwhite;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 12px;
		line-height: 30px;
		display: inline-block;
		clear: both;
		position: relative;
		padding: 3px 25px!important;
		border-radius: 30px;
		margin-top: 0;
		&::after {
			content: '\f0dd';
			font-family: FontAwesome;
			font-size: 18px;
			color: $bg-green;
			margin-left: -7px;
			bottom: -13px;
			display: block;
			position: absolute;
			left: 50%;
		}
	}
	.heading {
		text-align: center;
		text-transform: uppercase;
		color: #000;
		font-size: 40px;
		line-height: 58px;
		font-weight: 700;
		margin: 0;
	}
}

// contact form styles are here
.contactform {
	text-align: left;
	padding: 55px 25px 30px;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	background-color: $bg-white;
	
	address {
		color: $darkgrey;
		font-size: 15px;
		line-height: 30px;
		strong {
			color: $textblack;
		}
	}
}

.home-page-job {
 
	.nav-tabs {
		display: inline-block;
		border-bottom: 0;
		li {
			margin-bottom: 0;
			&.active {  
				a {
					border-top: 2px solid #53c142;
					&:hover {
 					
						    border-top: 2px solid #53c142;	
					}
				}
			}

			a {
				border-top: 2px solid transparent;
				 
				color: #000; 
				font-size: 17px;
				

				&:hover {
				
						    border-bottom: 0;	
					}

			}
		}
	}

	.tab-content {
		background: #fff;
		padding: 20px 30px;
		padding-top: 40px; 
		    margin-top: -5px;
		    text-align: left; 
	}
}

.job-list {
	.job {
		margin-bottom: 40px; 
		h4 {
			margin-bottom: 15px; 
			a {
				color: #7ac142; 
				font-size: 24px; 
				font-weight: bold; 
			
			}
		}
	}

	.job-exerpt {
		font-size: 16px;
		line-height: 30px;
		color: #686868;  
		a.readmore {
			color: #7ac142; 
		}
	}
}

.site-footer {
	padding: 100px 0 50px;
	color: #999;

	.totop {
	    background: #000;
	    color: #fff;
	    width: 42px;
	    height: 46px;
	    position: absolute;
	    top: -30px;
	    left: 0;
	    margin-left: -18px;
	    text-align: center;
	    border-radius: 15px 15px 0 0;
	    top: -30px;
	}
	.totop i {
	    position: absolute;
	    font-size: 14px;
	    z-index: 1000;
	    left: 0;
	    width: 43px;
	    line-height: 36px;
	} 
 
}

.job-view {
	background: #fff;  
	padding: 30px;
	margin-top: 120px;  
	line-height: 1.8;
	@include clearfix; 

	margin-bottom: 50px;
	p {
		margin-bottom: 5px; 
	}
	

}

h2 {
		font-size: 30px; 
		font-weight: bold;
		margin-top: 0px;   
	} 


	.input-group-btn {
	  .btn {
	  	 padding: 12.4px 12px;
	  }
	}  

.has-error .form-control:focus {
    border-color: #843534; 
    box-shadow: none;
}