/*
 * ----------------------------------------------------------------------------------------
 * Nav styles.
 * ----------------------------------------------------------------------------------------
 */
 $nav-background: $bg-black;
 $nav-background-big: transparent;
 $nav-border-color: transparent;

 $nav-anchor-bg: transparent;
 $nav-anchor-color: #fff;
//hover
$nav-anchor-active-hover-focus-bg: transparent;
$nav-anchor-hover-focus-color: $textgreen;
//active 
$nav-anchor-active-hover-focus-bg: transparent;
$nav-anchor-active-hover-focus-color: $textgreen;

$nav-anchor-border-color: transparent;

// dropdown-menu 
$dropdown-menu-bg:  darken( $nav-anchor-bg, 5%);

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 20px; 
}
.navbar-default {
  background-color: $nav-background;
  border-color: $nav-border-color;
  min-height: 50px;
  @include breakpoint(768px) {
    min-height: 80px;
    background-color: $nav-background-big;
  }
  .navbar-header .navbar-brand img {
    max-height: 20px;
    max-width: 100px;
    @include breakpoint(768px){
      max-height: 50px;
      max-width: 150px;
    }
  }
  .navbar-toggle {
    background-color: transparent;
    border-radius: 0;
    .icon-bar {
      background-color: $bg-white;      
    }
    &:hover, &:focus, &:active {
      background-color: transparent;
    }
  }
  .navbar-nav li { 
    a { 
      line-height: 20px;
      @include breakpoint(768px){
        line-height: 80px;
      }
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      background: $nav-anchor-bg; color: $nav-anchor-color;  
      border-right: 1px solid;  
      border-color: $nav-anchor-border-color;  
      &:hover, &:focus,  &:active { background: $nav-anchor-active-hover-focus-bg;     color: $nav-anchor-hover-focus-color; }
    }

    &.active a, &.active:hover a, &.active:focus a { background: $nav-anchor-active-hover-focus-bg; color: $nav-anchor-active-hover-focus-color;  }
  }
  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px; 
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0; 
  }
  .dropdown-menu { 
    background: $dropdown-menu-bg; 
  }
  .navbar-nav>.open>a, 
  .navbar-nav>.open>a:hover, 
  .navbar-nav>.open>a:focus {
    color: #fff;
    background-color:darken( #1080db, 5%);
  }
  .navbar-nav>.open>a:hover, 
  .navbar-nav>.open>a:focus {
    border: 0; 

  }
}// end 