// Bootstrap Breakpoints
$xs:  max-width 767px;

$sm: 768px 991px;

$md: 992px 1199px;

$lg: 1200px;

$orange: #f16209;
.orange {
	color: $orange;
}

$textgreen: #7ac142;
$textwhite: #fff;
$textblack: #000;

$colorsea: #EDEFED;
$colorgrey: #E4E4E4;
$darkgrey:	#999999;
$color555: #555;

$bg-green: #7ac142;
$bg-white: #ffffff;
$bg-black: #000;

$green: #7ac142;